main {
  height: 100vh;
}
.icon {
  width: 80px;
  margin-bottom: 1%;
}
button {
  background-color: lightskyblue;
  padding: 2%;
}
span {
  margin: 0px 2%;
}
/* Simple Snake Games  */
body {
  background-color: rgba(219, 219, 219, 0.623);
  text-align: center;
  font-family: helvetica;
}
canvas {
  border: 4px solid rgb(151, 149, 149);
}
