* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.banner {
  height: 40vh;
  background-image: url("../image/background/photo77.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/* BODY  */
.item {
  height: 340px;
  background-color: rgba(3, 3, 3, 0.932);
  text-align: center;
  padding: 2% 5%;
  font-size: 22px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.text {
  color: rgba(255, 255, 255, 0.795);
  padding: 1%;
}
.btn {
  width: 200px;
  padding: 15px 10%;
  font-size: 18px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.575);
  background-color: rgba(3, 3, 3, 0);
  border: 1px solid lightseagreen;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  transition: 0.3s;
  background-color: rgb(35, 148, 142);
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight {
  height: 340px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* row 1  */
.one {
  background-image: url("../image/doggosImages/photo1.png");
}
.two {
  background-image: url("../image/doggosImages/photo2.png");
}
/* row 2  */
.three {
  background-image: url("../image/doggosImages/photo3.png");
}
.four {
  background-image: url("../image/doggosImages/photo4.png");
}
/* row 3  */
.five {
  background-image: url("../image/doggosImages/photo5.png");
}
.six {
  background-image: url("../image/doggosImages/photo6.png");
}
/* row 4  */
.seven {
  background-image: url("../image/doggosImages/photo7.png");
}
.eight {
  background-image: url("../image/doggosImages/photo8.png");
}

/* Footer  */
.footer {
  height: 180px;
  background-color: rgb(92, 92, 92);
  border-top: 15px solid rgb(82, 82, 82);
  border-bottom: 15px solid rgb(82, 82, 82);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgba(255, 255, 255, 0.521);
  padding: 0px 5%;
  font-size: 22px;
}
.btn-footer {
  background-color: rgb(92, 92, 92);
  border: 1px solid rgba(150, 150, 150, 0.596);
  color: rgba(150, 150, 150, 0.678);
  padding: 5px 0px;
  font-size: 13px;
  float: left;
  width: 33.33%;
  cursor: pointer;
}
.fb:hover {
  background-color: rgb(59, 83, 148);
  border: 2px solid rgb(45, 63, 112);
  transition: 0.2s;
}
.insta:hover {
  background-color: rgb(109, 58, 100);
  border: 2px solid rgb(87, 31, 77);
  transition: 0.2s;
}
.mail:hover {
  background-color: rgb(45, 129, 63);
  border: 2px solid rgb(31, 85, 43);
  transition: 0.2s;
}
.inner-footer {
  padding: 0px 0%;
}
.icon {
  width: 16px;
  vertical-align: middle;
}
/* MEDIA QUERY  */
@media only screen and (max-width: 767px) {
  .row2,
  .row4 {
    display: flex;
    flex-direction: column;
  }
  .two,
  .three,
  .six,
  .seven {
    display: none;
  }
  .ord1,
  .ord3 {
    order: 2;
  }
  .ord2,
  .ord4 {
    order: 1;
  }
}
/* MEDIA 768px  */
@media only screen and (min-width: 768px) {
  .item {
    float: left;
    width: 33.33%;
  }
  .footer {
    padding: 0px 15%;
  }
  .btn {
    padding: 15px 10%;
  }
  .row1,
  .row2,
  .row3,
  .row4 {
    display: flex;
    flex-direction: row;
  }
  .one,
  .four,
  .five,
  .eight {
    flex-grow: 2;
  }
  .div1,
  .div2,
  .div3 {
    flex-grow: 1;
  }
  .two,
  .three,
  .six,
  .seven {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .banner {
    height: 89vh;
  }
  .btn {
    width: 230px;
    padding: 15px 12%;
  }
  .item {
    display: block;
    padding: 2% 5%;
  }
  .text {
    margin-bottom: 35px;
  }
}
